body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height:1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2,h3,h4,h5,h6 {
    margin: 0;
}
hr {
    display:block;
    margin: 40px 0;
    width: 100%;
    height: 1px;
    border: 0;
    background-color:#e5e5e5 ;
}

/*Container*/
.container {
    padding: 15px 0;
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;

}

/*Intro*/
.intro {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: url(../img/intro.jpg) center
     no-repeat;
}
.intro__inner {
    text-align: center;
width: 100%;
max-width: 880px;
margin: 0 auto;
}
.intro__title {
    color:#fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}
.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: #fff;
}
.intro__suptitle {
    margin-bottom: 15px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 72px;
    color:#fff;

}

/*Header*/
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 30px;
    font-weight: 700;
    color:#fff;
}

/*navigation*/

.nav {
    font-size: 14px;
text-transform: uppercase;
}
.nav__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}
.nav__link:after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    z-index: 1;
    left: 0;
    display: block;
    transition: opacity .1s linear;
}
.nav__link:hover {
    color: #fce38a;
}
.nav__link:hover:after {
    opacity: 1;
}

/*Button*/ 

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #fff;

    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;

    transition: background .1s linear,
     color .1s linear ;

}
.btn:hover {
    background-color: #fff;
    color: #333;
}

/*Slider*/

.slider {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}
.slider__item {
    position: relative;
    width: 23%;
    padding: 20px 0;
    font-size: 18px;
    color: #fff;
    opacity: .7;
    text-transform: uppercase;
    border-top: 3px solid #fff;
}
.slider__item.active {
    opacity: 1;
}
.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;

    background-color: #f38181;
}
.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/*Section*/

.section {
    padding: 80px 0;
}
.section--gray {
    background-color: #f8f8f8;
}
.section__header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}
.section__subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}
.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}
.section__text {
    font-size: 15px;
    color: #999;

}
.section--devices {
    margin-bottom: 40px;
    padding-bottom: 0;
    background: url(../img/bg_device.png)
     center no-repeat;
     background-size: cover;
}
.section--clients {
    background: url(../img/bg_clients.jpg)
     center no-repeat;
     background-size: cover;
}
.section--map {
    padding: 40px 0;
    background: url(../img/bg_maps.jpg)
     center no-repeat;
     background-size: cover;
}

/*About*/

.about {
    margin:80px -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about__item {
    width: 29.33333%;
}
.about__inner {
    position: relative;
    background-color: #95e1d3;
}
.about__item:hover .about__text {
opacity: 1;
}
.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0 );
}
.about__item:hover .about__img img {
opacity: .1;
}
.about__img {
    background: linear-gradient(to bottom,
     #f38181, #fce38a);
     transition: transform .2s linear;
}
.about__img img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity .1s linear;
}
.about__text {
    opacity: 0;
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}
.about__info {
    margin-top: 20px;
    text-align: center;
}
.about__name {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}
.about__prof {
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    color: #999;
}
/*Statistics*/

.statistics {
    background-color: #95e1d3;
}
.stat {
    display: flex;
    flex-wrap: wrap;
}
.stat__item {
    padding: 70px 25px;
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
}
.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}
.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}
.stat_text {
    font-size: 14px;
    text-transform: uppercase;
}

/*Services*/

.services {
    display: flex;
    flex-wrap: wrap;
}
.services__item--border {
    border-bottom: 1px solid #e5e5e5;
}

.services__item {
    width: 33.33333%;
    padding-left: 85px;
    padding-right: 35px;
    padding: 0 35px 40px 85px;
    position: relative;
    margin-bottom: 40px;
}
.services__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}
.services__title {
    margin-bottom: 10px;
    font-size: 14px;
    color:#333;
    text-transform: uppercase;
}
.services__text {
    font-size: 15px;
    color: #999;
}

/*devices*/

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}
.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}
.devices__item--iphone {
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}

/*WeDo*/

.wedo {
    padding: 0 -15px;
    flex-wrap: wrap;
    display: flex;
}
.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}
.wedo__item {
    padding: 0 15px;
    width: 50%;
}

/*Accordion*/

.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}
.accordion__item.active 
.accordion__content {
    display: block;
}
.accordion__item.active
.accordion__header:after {
    border-bottom-color:#e5e5e5;
}
.accordion__item.active
.accordion__header:after {
    transform: translateY(-50%)
     rotate(-45deg);
     margin-top: 5px;
}

.accordion__header {
    position: relative;
    padding: 15px 20px 15px 60px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.accordion__header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    z-index: 1;
    right: 20px;
    transform: translateY(-50%)
     rotate(135deg);
}
.accordion__icon {
    position: absolute;
    top: 20%;
    left: 11px;
    z-index: 1;
}
.accordion__content {
    display: none;
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}
.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/*Reviews*/

.reviews {
    padding: 0 110px;
}
.reviews__item {
padding-left: 240px;
position: relative;
}
.reviews__photo {
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.reviews__text {
    margin-bottom: 15px;
    font-size: 24;
    font-style: italic;
    font-weight: 300;
    color: #999;
}
.text__comment {
    padding-top: 55px;
}
.reviews__auter {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}
.reviews__auter:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}

/*Logos*/

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Works*/

.works {
    display:flex;
}
.works__col {
    flex: 1 1 0;
}
.works__item {
    position: relative;
    background: linear-gradient( to bottom,
    #f38181, #fce38a );
}
.works__item:hover .works__image {
opacity: 0.1;
}
.works__item:hover .works__info {
    opacity: 1;
}
.works__image {
    max-width: 100%;
    height: auto;
    display: block;
    transition: opacity .2s linear;
}
.works__info {
    width: 100%;
    position: absolute;
    text-align: center;
    color: #fff;
    opacity: 0;
    padding: 0 15px;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}
.works__title {
    margin-bottom: 5px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.works__text {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
}

/*Clients*/

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}
.clients__item {
    margin-bottom: 60px;
    width: 50%;
    padding: 0 45px 0 175px;
    position: relative;
}
.clients__photo {
    position: absolute;
    top: 0;
    left: 40px;
}
.clients__name {
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
}
.clients__prof {
    font-size: 15px;
    font-style: italic;
    color: #333;
}
.clients__text {
    font-size: 15px;
    color: #999;
}
.clients__text:before {
    content: "";
    display: block;
    margin: 20px 0;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

/*Blog*/

.blog {
    display: flex;
    justify-content: space-between;
}
.blog__item {
    width: 31%;
}
.blog__header {
    margin-bottom: 10px;
    position: relative;
}
.blog__photo {
    max-width:100%;
    display: block;
    height: auto;
}
.blog__data {
    padding: 10px 20px;
    font-weight: 300;
    text-align: center;
    background-color: #95e1d3;
    color: #fff;
    font-size: 15px;
    font-style: italic;

    position: absolute;
    bottom: 10px;
    left: -10px;
}
.blog__content {
    margin-bottom: 14px;
}
.blog__data--day {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    font-style:  normal ;
}
.blog__title {
    margin-bottom: 14px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}
.blog__title a {
    text-decoration: none;
    color: inherit;
}
.blog__title a:hover {
    text-decoration: underline;
}
.blog__text {
    font-size: 15px;
    color: #999;
}
.blog__footer {
    padding-top: 14px;
    border-top: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}
.blog__stat--item {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

/*Map*/

.map {
    text-align: center;
}
.map__title {
    font-size: 24px;
    color: #f38181;
    font-weight: 700;
    text-transform: uppercase;
}

.map__title a {
    color: inherit;
    text-decoration: none;
}

.map__title a:hover {
    text-decoration: underline;
}
.map__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 15px auto 0;
    background-color: #f38181;
}

/*Footer*/

.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
}
.footer__col--first {
    width: 40%;
}
.footer__col--second {
    width: 29%;
}
.footer__col--third {
    width: 22%;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
}

.footer__logo {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 46px;
    color: #ccc;
}
.footer__text {
    margin-bottom: 30px;
    font-size: 15px;
    color: #999;
}
.footer__social {
    margin-bottom: 25px;
}
.footer__social--header {
    padding-bottom: 15px;

    font-size: 14px;
    color: #333;

    border-bottom: 1px solid #e5e5e5;
}

.footer__social--header b {
    font-size: 18px;
}
.footer__social--content {
    padding-top: 15px;

    font-size: 15px;
    font-weight: 300;
    color: #999;
    font-style: italic;
}
.footer__social--content a {
    text-decoration: none;
    margin-left: 10px;
    align-items: center;
}
.footer__title {
    margin: 30px 0;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

/*Subscribe*/

.subscribe {
    display: flex;
    width: 100%;
    max-width: 380px;
}
.subscribe__input {
    width: 60%;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    line-height: 1.1;
    background: #fff;
    font-size: 15px;
    color: #333;
    border: 1px solid #e7e7e7;
    border-right: 0;
    font-style: italic;
    font-weight: 300;
}
.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}
.subscribe__input::placeholder {
    color: #ccc;
}
.subscribe__btn {
    width: 40%;
    height: 40px;
    padding: 12px 30px;
    line-height: 1.1;
    background-color: #95e1d3;
    border: 0;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color:#77c3b5 ;
}
.subscribe__btn:focus {
    outline: 0;
}

/*Blogs*/

.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.blogs__content {
    padding-left: 20px;
}
.blogs__title {
    margin-bottom: 5px;
    line-height: 1.4;
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    display: block;
}
.blogs__title:hover {
    text-decoration: underline;
}
.blogs__data {
    font-size: 13px;
    color: #999;
    font-style: italic;
    font-weight: 300;
}

/*Instagram*/

.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.instagram__item {
    width: 32.33333%;
    border-bottom: 1px solid #fff;
}

.instagram__item img {
    display: block;
}

/*Copyright*/

.copyright {
    padding: 20px 0;
    text-align: center;
    font-style: 14px;
    color: #333;
    border-top: 1px solid #e5e5e5;
}
.copyright span {
    color: #f38181;
}


@media(max-width: 1200px) { /*Мониторы*/
    /*Intro*/
    .intro__suptitle {
        font-size: 52px;
    }
    .intro__title {
        font-size: 120px;
    }
}

@media(max-width: 990px) { /*планшеты max*/
    /*Intro*/
    .intro__suptitle {
        font-size: 32px;
    }
    .intro__title {
        font-size: 80px;
    }

    /*Stat*/
    .stat {
        justify-content: center;
    }
    .stat__item {
        flex: none;
        width: 33.33333%;
        border: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    /*Services*/

.services__item {
    width: 50%;
    padding-bottom: 0;
}
.services__item--border {
    border-bottom: 0;
}
}

@media(max-width: 770px) { /*планшеты min*/
    /*Nav*/
    .nav {
        display: none;
    }

    /*Section*/
    
    .section {
        padding: 40px 0;
    }
    .section--devices {
        padding-bottom: 0;
    }

    /*About*/
    .about {
        justify-content: center;
        margin-top: 50px;
    }

    .about__item {
        padding-right: 30px;
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }
    .about__item:last-child {
        margin-bottom: 0;
    }
    

    /*Slider*/
    .slider__text {
        display: none;
    }

    .slider__item.active:before {
        width: 50%;
    }

    /*Services*/
    .services__item {
        width: 100%;
    }

    /*wedo*/

    .wedo__img {
        display: none;
    }
    .wedo__item {
        width: 100%;
    }
    
}

@media(max-width: 575px) { /*мобильные устр*/
    /*Intro*/
    .intro__suptitle {
        font-size: 22px;
    }
    .intro__title {
        font-size: 20px;
    }

     /*Section*/
     .section__header {
         margin-bottom: 50px;
     }
     .section__subtitle {
         font-size: 20px;
     }
     .section__title {
         font-size: 24px;
     }

    .section__title:after {
         margin: 20px auto;
    }

    /*Stat*/

    .stat__item {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
    }
    .stat__item:last-child {
        border-bottom: 0;
    }
    .stat__count {
        font-size: 52px;
    }

    /*Devices*/

    .devices {
        max-width: 320px;
    }
    .devices__item--iphone {
        width: 180px;
        bottom: -50px;
        right: -80px;
    }
}
